.rounded-box {
    font-size: calc(0.5vw + 12px);
    border-radius: 15px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .enregistrer
  {
    display: none;
    background-color: lightgray;
    width: 50%;
    height: calc(2vw + 10px);
    cursor: pointer;
    color:white;
  }
  .login{
    margin-top: 20px;
    background-color: white;
    width: 100%;
    height: calc(2vw + 10px);
    cursor: pointer;
    color:#ED7D15;
    font-size: calc(0.5vw + 20px);

  }
  

  
  html
  {
    background-image: url('../img/favicon.png'); /* Replace 'path/to/your/image.jpg' with the actual path to your image */
    background-size: contain;
      background-position: center; /* Adjust as needed */
      background-repeat: repeat;
  }

  .input_box
  {
    font-size: calc(0.5vw + 8px);
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    color:black;
    margin-top: 10px;
  }

  .login_selector
  {
    width: 100%;
    display:flex;
    justify-content: space-between;
  }

  .login_selector > div {
    flex: 1; /* Distribute available space equally among child elements */
    text-align: center; /* Center text inside each div */
  }

  input{
    width: 100%;
  }

  .other_websites{
    width: 100%;
    display: flex;
    align-content: space-between;
    justify-content: space-between;
  }
