.rounded-box {
    font-size: calc(0.5vw + 12px);
    border-radius: 15px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .enregistrer
  {
    display: none;
    background-color: lightgray;
    width: 50%;
    height: calc(2vw + 10px);
    cursor: pointer;
    color:white;
  }
  .login{
    background-color: #ee7125;
    width: 100%;
    height: calc(2vw + 10px);
    cursor: pointer;
    color:white;

  }
  .sign-in-input-group
  {
    width: calc(20vw + 300px);
    height: calc(60vh + 10px);
    border: black solid 1px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    background-color: white;
  }

  body
  {
    display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
    
  }
  html
  {
    background-image: url('../img/favicon.png'); /* Replace 'path/to/your/image.jpg' with the actual path to your image */
    background-size: contain;
      background-position: center; /* Adjust as needed */
      background-repeat: repeat;
  }

  .input_box
  {
    font-size: calc(0.5vw + 8px);
    display: flex;
    justify-content: center;
    flex-direction: column;
    color:black;
  }

  .login_selector
  {
    width: 100%;
    display:flex;
    justify-content: space-between;
  }

  .login_selector > div {
    flex: 1; /* Distribute available space equally among child elements */
    text-align: center; /* Center text inside each div */
  }
